@media only screen and (min-width: 49em) {
  .grid {
    gap: 4.8rem;
  }

  .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--2-cols {
    grid-template-columns: 1fr 1fr;
  }

  .grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }

  .header {
    flex-direction: row;
    height: 9.6rem;
  }

  .hero {
    grid-template-columns: 1fr 1fr;
    padding: 0 3.2rem;
    gap: 4.8rem;
  }

  .hero-img {
    width: 100%;
  }

  .hero-text-box {
    text-align: left;
  }

  .hero-img-box {
    text-align: right;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary,
  .heading-about-page,
  .heading-fresh-page {
    font-size: 3.6rem;
    margin-bottom: 4.8rem;
  }

  .carlsbad-description p,
  .delivery-description p,
  .marco-description p,
  .business-description p,
  .business-contact p {
    line-height: 1.6;
  }

  .description {
    font-size: 1.8rem;
  }

  .product {
    font-size: 1.8rem;
  }

  .btn-mobile-nav {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 3.2rem;
  }

  .main-nav-list {
    flex-direction: row;
    gap: 3.2rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .logo-col,
  .address-col,
  .nav-col {
    grid-row: 1;
    grid-column: span 1;
  }

  .inner-grid {
    grid-template-columns: 1fr 1fr;
  }

  form input.submitBtn {
    width: initial;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.8rem;
  }

  .contacts {
    font-size: 1.8rem;
  }

  .footer-heading {
    font-size: 2rem;
  }
}
