@media only screen and (min-width: 48em) {
  .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--2-cols {
    grid-template-columns: 1fr 1fr;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}
