/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
0.2rem

--- 02 COLORS

- Primary: 

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 03 BORDER-RADIUS

Default: .75rem
*/

/*************************/
/* GENERAL COMPONENTS */
/*************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  overflow-x: hidden;
  font-size: 1.5rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(25rem, auto);
  gap: 1rem;
}

.spotlights .box {
  padding: 2rem 1rem;
  border: 1px solid #9e9e9e;
}

.inner-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(15rem, auto);
}

/*************************/
/* BANNER */
/*************************/

.banner {
  color: #ffffff;
  font-weight: 500;
  background-color: #099268;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

/*************************/
/* HEADER */
/*************************/
.logo {
  height: 4rem;
}

.social-media-icon {
  height: 3rem;
  margin-left: 2rem;
}

.header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002d13;
}

.header {
  height: 16rem;
  padding: 2rem 4.8rem 0 4.8rem;
  margin-bottom: 2rem;
  position: relative;
  flex-wrap: wrap;
}

.date {
  color: #ffffff;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(255, 200, 0, 0.2);
  width: 100%;
  text-align: center;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}

/*************************/
/* NAVIGATION */
/*************************/
.main-nav {
  flex-grow: 1;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* justify-content: end; */
  gap: 4rem;
  margin-right: 5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ffc700;
}

/* MOBILE NAVIGATION */
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #ffffff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

@media (max-width: 991px) {
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    z-index: 1000;
  }

  /* .icon-mobile-nav[name="close-outline"] {
    display: none;
  } */

  .main-nav {
    background-color: #002d13;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    /* Hide visually the navigation */
    opacity: 0;
    /* Make it unaccessible to mouse and keyboard */
    /* pointer-events: auto; */
    /* Hide it from screen readers */
    visibility: hidden;
    z-index: 1000;
  }

  .nav-open .main-nav {
    opacity: 1;
    /* pointer-events: auto; */
    visibility: visible;
    transform: translateX(0);
    z-index: 100;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*************************/
/* HERO SECTION */
/*************************/
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 3.25rem;
  text-shadow: 2px 2px 2px #555555;
}

.cta-btn-hero:link,
.cta-btn-hero:visited,
.cta-btn:link,
.cta-btn:visited {
  display: inline-block;
  background-color: #099268;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.3s;
}

.cta-btn-hero:link,
.cta-btn-hero:visited {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 2rem;
}

.cta-btn:link,
.cta-btn:visited {
  padding: 1rem 0;
  width: 100%;
}

.cta-btn-hero:hover,
.cta-btn-hero:active,
.cta-btn:hover,
.cta-btn:active {
  background-color: #087f5b;
}

/*************************/
/* WEATHER SECTION */
/*************************/

.temperature {
  font-size: 4rem;
  font-weight: 500;
}

.weather-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weather-icon {
  width: 75%;
}

.weather-type {
  font-size: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #555555;
  margin-bottom: 2rem;
}

.speed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.chill {
  display: flex;
  justify-content: space-between;
}

/*************************/
/* MAIN */
/*************************/
.card {
  padding: 2rem 1.5rem;
  border: 1px solid #9e9e9e;
  text-align: center;
}

.card-title {
  color: #000000;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1rem;
}

.join {
  display: none;
}

.spotlights div:nth-of-type(3) {
  display: none;
}

.more-info:link,
.more-info:visited {
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #333333;
}

.more-info:hover,
.more-info:active {
  color: #087f5b;
}

.info-text {
  margin-bottom: 2rem;
}

.spotlight1-logo,
.spotlight2-logo {
  width: 75%;
  margin-bottom: 1rem;
}

/*************************/
/* FOOTER */
/*************************/
footer {
  margin-top: 2rem;
  padding: 4rem 0;
}

.logo-footer {
  height: 8rem;
  margin-right: 1rem;
}

.project-details {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
}

.chamber-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;
  line-height: 1.6;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.chamber-contact {
  margin-top: 2rem;
}

.map-link {
  color: #ffc700;
  text-decoration: none;
}

.map-icon {
  font-size: 2.5rem;
  vertical-align: bottom;
  margin-top: 1rem;
}
